body.base {
  margin: auto;
  /* margin-top: 50px; */
  width: 70%;
  padding: 10px;
  /* text-align: center; */
  /* color: ; */
}

.column {
  float: left;
  padding: 10px;
  /* height: 300px; Should be removed. Only for demonstration */
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.left{
  float: left;
  width: 50%;
}
.right{
  float: right;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


p.half{
  width: 50%;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

ul.proyectos {
  list-style-type: none;
  padding-top: 50px;
  overflow: hidden;
}

ul.proyectos li{
  font-size: 25px;
}

div.list-father{
  margin: auto;
  width: 50%;
  border: 3px solid rgb(41, 41, 41);
  padding: 10px;
  margin-top: 50px; ;
}

div.halfwindow{
  margin: auto;
  width: 80%;
  padding-top: 50px;
  border: 0px solid rgb(90, 89, 92);
  box-sizing: border-box;
}

img.normalsize{
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  width: 80%;
}